@charset 'utf-8'

.c-wish_detail
  &__images
    width: 80%
    margin: 20px auto
    &__image
      width: 300px
      max-height: 300px
      margin: 20px auto
  &__user_info
    &__image
      width: 100px
      height: 100px
      border-radius: 50px
      margin-left: 50px
      float: left
    &__comment
      background-color: white
      border: 1px black solid
      border-radius: 10px
      padding: 10px
      margin-left: 50px
      width: 500px
      height: 100px
      float: left
  &__info
    margin: 40px
    &__title
      font-size: 32px
    table
      border-collapse: collapse
      border: 2px #2b2b2b solid
    td, th
      border: 2px #2b2b2b solid
